#homeWrapper #page {
    margin:0 auto;
    width:990px;
}

#homeWrapper #homeBranding {
    clear:both;
    text-align:center;
}

#homeSearch {
    margin: 40px auto 0 auto;
    width:375px;
}
    #homeSearch .search input.searchBox {
        height:37px;
        width:325px;
    }
    #homeSearch .search button.searchBtn {
        background-image:url('../img/homeSearchBtn.png')!important;
        height:35px!important;
        width:35px!important;
    }
        #homeSearch .search button.searchBtn:active {
            background-position:0 -32px!important;
        }

.ui-autocomplete.ui-menu {
    margin-left: 3px;
    width: 370px !important;
}

div.timeline {
    margin-top:75px;
}

.recent-story {
    text-align: center;
}

.whats-next {
    width: 990px;
    margin: 0 auto;
}
.user-badge {
    background-image: url('../img/pkmn_badges.gif');
}
.user-badge.user-badge-one {
    height: 14px;
    padding: 5px 14px;
}
.user-badge.user-badge-two {
    background-position-x: 30px;
    height: 14px;
    padding: 5px 14px;
}
.user-badge.user-badge-three {
    background-position-x: 55px;
    height: 14px;
    padding: 5px 14px;
}
.user-badge.user-badge-four {
    background-position-x: 80px;
    height: 14px;
    padding: 5px 14px;
}
.user-badge.user-badge-five {
    background-position-x: 125px;
    height: 14px;
    padding: 5px 14px;
}