@import "colors";

#timeline-container {
  position: relative;
  width: 960px;
  margin: 0 auto;

  // Timeline SVG Elements
  #timeline {
    width: 100%;

    .axis path, .axis line {
      fill: none;
      stroke: white;
      shape-rendering: crispEdges;
    }

    .axis text {
      font-family: sans-serif;
      font-size: 14px;
    }

    .timeline-label {
      font-family: sans-serif;
      font-size: 16px;
    }

    // Context Styles
    //////////////////

    g.context g.axis path{ stroke-opacity: 0;}
    g.context g.axis line{ stroke-opacity: .1;}

    g.context g.brush rect.background{ fill: rgba(0,0,0,.1);}

    .brush .extent {
      stroke: #000;
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }

    g.context rect.background{
      fill: rgb(200,200,100);
      visibility: visible !important;
    }
  }

  // Popup HTML
  #popup-container {
    position: absolute;
    display: none; // Hidden until shown on mouseover/click

    .popup {
      background: darken($bg, 2%);
      border-radius: 5px;
      width: 200px;
      padding: 10px;
      display: none;

      p {
        color: white;
      }
    }

    .person { border: 1px darken($person, 20%) solid; }
    .organization { border: 1px darken($org, 20%) solid; }
    .event { border: 1px darken($event, 20%) solid; }
    .project { border: 1px darken($project, 20%) solid; }
    .multi-point { 
      border: 1px darken($person, 20%) solid;
      color: $person;
    }

  }
}