{% extends 'default/base.html' %}
{% load staticfiles %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-form.css' %}" once="1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/token-input.css' %}" once="1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/token-input-hcg.css' %}" once="1">

    <script type="text/javascript" src="{% static 'js/libs/jquery-tokeninput-1.6.0-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/djtokeninput.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="form-container">
        <div id="toolbar">
            <h1>Add an Entry</h1>
            <span class="required">* Required</span>
        </div>
        <form action="/add/page/" method="POST" id="EntryAddForm">{% csrf_token %}
            <div id="main-stub" class="stub section-in-form">
                <ul class="required-labels all-labels">
                    <li class="label-entry-type labels" style="margin-top: 10px;">Type of Page <span
                            class="required">*</span></li>
                    <li class="label-entry-name labels">Entry name <span class="required">*</span></li>
                    <li class="label-entry-tags labels">Tags <span class="required">*</span></li>
                </ul>
                <ul class="required-fields all-fields">
                    <li class="entry-type fields">
                        {{ form.type.errors }}
                        {{ form.type }}
                    </li>
                    <li class="entry-name fields">
                        {{ form.name.errors }}
                        {{ form.name }}
                    </li>
                    <li class="entry-tags fields">
                        {{ form.tags.errors }}
                        {{ form.tags }}
                    </li>
                </ul>
                <div class="cf"></div>
            </div>
            <div class="basics section-in-form">
                <ul class="basic-labels all-labels">
                    <li class="label-entry-description labels" style="margin-top: 10px;">Description <span
                            class="required"></span></li>
                    <li class="label-entry-date labels" style="margin-top: 140px;">Homepage</li>
                    <li class="label-entry-date labels">Date Established</li>
                    {% if page.type.name == 'person' %}
                        <li class="label-entry-date labels">Date Deceased (if applicable)</li>
                    {% endif %}
                </ul>
                <ul class="basic-fields all-fields">
                    <li class="entry-description fields">
                        {{ form.description.errors }}
                        {{ form.description }}
                    </li>
                    <li class="entry-homepage fields">
                        {{ form.homepage.errors }}
                        {{ form.homepage }}
                    </li>
                    <li class="entry-date fields">
                        <input name="date_established" id="id_date_established" type="text"
                               class="need-helper {{ page.type }}" placeholder="MM/DD/YYYY or YYYY">
                        <span id="helper-story-date"
                              class="helper-popups {{ page.type }}-border">MM/DD/YYYY or YYYY</span>
                    </li>
                    {% if page.type.name == 'person' %}
                        <li class="entry-date-2 fields">
                            <input name="date_deceased" id="id_date_deceased" type="text"
                                   class="need-helper {{ page.type }}" placeholder="MM/DD/YYYY or YYYY">
                        </li>
                    {% endif %}
                </ul>
                <div class="cf"></div>
            </div>
            <input type="submit" value="Submit"/>
        </form>
    </div>
{% endblock %}