<script>
    $(document).ready(function () {
        $('body').on('ready', '.tabs-min', function () {
            print('loaded');
            $(this).tabs('enabled');
        });
    });
</script>

<div class="cf"></div>
<div class="stories new" style="">
    <p class="story-opened-heading">
        <span class="title {{ page.type }}">New Story</span>
        <span class="delete ui-icon ui-icon-close"></span>
        <span class="story-type"></span>
        <span class="info">Not Saved</span>
    </p>

    <div class="story-opened" style="display: block;">
        <div class="tabs-min ui-tabs all-fields">
            <ul class="ui-tabs-nav">
                <li><a href="#tabs-1">Text</a></li>
                <li><a href="#tabs-2">Image</a></li>
                <li><a href="#tabs-3">Video</a></li>
            </ul>
            <div class="tab-content" id="tabs-1">
                <form action="/save/story/text/{{ page.vanity_url }}/" method="POST" accept-charset="utf-8"
                      id="TextStorySaveForm">{% csrf_token %}
                    <ul class="story-labels all-labels">
                        <li class="label-story-title labels">Title<span class="required"> *</span></li>
                        <li class="label-story-date labels">Date</li>
                        <li class="label-story-source labels">Source</li>
                        <li class="label-story-source_url labels">Source URL</li>
                        <li class="label-story-story labels">Story<span class="required"> *</span></li>
                    </ul>
                    <ul class="story-fields all-fields">
                        <li class="entry-date fields">
                            {{ form.title.errors }}
                            {{ form.title }}
                        </li>
                        <li class="story-date fields {{ page.type }}">
                            {{ form.date.errors }}
                            {{ form.date }}
                            <span id="helper-story-date" class="helper-popups organization-border">When did this story take place?</span>
                        </li>
                        <li class="story-source fields {{ page.type }}">
                            {{ form.source.errors }}
                            {{ form.source }}
                        </li>
                        <li class="story-source fields {{ page.type }}">
                            {{ form.source_url.errors }}
                            {{ form.source_url }}
                        </li>
                        <li class="story-body fields {{ page.type }}">
                            {{ form.text.errors }}
                            {{ form.text }}
                            <span id="helper-story-story" class="helper-popups organization-border">What happened? Who was involved? Remember, this is isn't an encyclopedia entry, give us the inside story!</span>
                        </li>
                        <li>
                            <button class="story-save-button">Save Story</button>
                        </li>
                    </ul>
                    <div class="cf" style="display: none;"></div>
                </form>
                <div class="cf" style="display: none;"></div>
            </div>
            <div class="tab-content" id="tabs-2">
                <form action="/save/story/image/{{ page.vanity_url }}/" method="post"
                      accept-charset="utf-8">{% csrf_token %}
                    <ul class="story-labels all-labels">
                        <li class="label-story-title labels">Title<span class="required"> *</span></li>
                        <li class="label-story-date labels">Date</li>
                        <li class="label-story-url labels">URL<span class="required"> *</span></li>
                    </ul>
                    <ul class="story-fields all-fields">
                        <li class="story-title fields">
                            {{ form.title.errors }}
                            {{ form.title }}
                            <span id="helper-story-title" class="helper-popups organization-border">What is this the story of?</span>
                        </li>
                        <li class="story-date fields">
                            {{ form.date.errors }}
                            {{ form.date }}
                            <span id="helper-story-date" class="helper-popups organization-border"
                                  style="display: none;">When did this story take place?</span>
                        </li>
                        <li class="story-url fields">
                            {{ form.image.errors }}
                            {{ form.image }}
                        </li>
                        <li class="story-save save">
                            <button class="organization-hover">Save Story</button>
                        </li>
                    </ul>
                    <div class="cf" style="display: none;"></div>
                    <input type="hidden" class="story-id" name="data[Story][id]" value="">
                </form>
                <div class="cf" style="display: none;"></div>
            </div>
            <div class="tab-content" id="tabs-3">
                <form action="/save/story/video/{{ page.vanity_url }}/" method="post"
                      accept-charset="utf-8">{% csrf_token %}
                    <ul class="story-labels all-labels">
                        <li class="label-story-title labels">Title<span class="required"> *</span></li>
                        <li class="label-story-title labels">Date</li>
                        <li class="label-story-url labels">URL<span class="required"> *</span></li>
                    </ul>
                    <ul class="story-fields all-fields">
                        <li class="story-title fields">
                            {{ form.title.errors }}
                            {{ form.title }}
                            <span id="helper-story-story" class="helper-popups organization-border">What is this the story of?</span>
                        </li>
                        <li class="story-date fields">
                            {{ form.date.errors }}
                            {{ form.date }}
                            <span id="helper-story-date" class="helper-popups organization-border"
                                  style="display: none;">When did this story take place?</span>
                        </li>
                        <li class="story-url fields">
                            {{ form.video.errors }}
                            {{ form.video }}
                            <span id="helper-story-date" class="helper-popups organization-border">Paste or type a YouTube URL here.</span>
                        </li>
                        <li class="story-preview">
                        </li>
                        <li class="story-save save">
                            <button class="organization-hover">Save Story</button>
                        </li>
                    </ul>
                    <div class="cf" style="display: none;"></div>
                </form>
                <div class="cf" style="display: none;"></div>
            </div>
            <div class="cf" style="display: none;"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.tabs-min').tabs();
</script>