{% extends 'default/base.html' %}
{% load staticfiles %}
{% block body_header %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-form.css' %}" once="1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/token-input.css' %}" once="1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/token-input-hcg.css' %}" once="1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/chosen.css' %}" once="1">

    <script type="text/javascript" src="{% static 'js/libs/gcpUpload.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery.tokeninput.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/chosen.jquery.js' %}"></script>

{% endblock %}
{% block content %}
    <div id="content">
        <div class="form-container">
            <div id="toolbar">
                <div class="title"><h1>Edit Entry</h1></div>
                <div class="publish-status">
                    {% if page.published %}Published{% else %}Not Published{% endif %}
                </div>
                <div class="actions">
                    <button class="submit-page">
                        {% if page.published %} Save {% else %} Save Draft {% endif %}
                    </button>
                    <a class="button organization-hover" href="/pages/{{ page.vanity_url }}">
                        View Entry
                    </a>
                    {% if page.published %}
                         <button class="publish-page organization-hover" data-vanity-url="{{ page.vanity_url }}">
                            Unpublish
                        </button>
                    {% else %}
                        <button class="publish-page organization-hover" data-vanity-url="{{ page.vanity_url }}">
                            Publish
                        </button>
                    {% endif %}
                </div>
                <div class="cf"></div>
                <hr>
            </div>
            <form action="/edit/page/{{ page.vanity_url }}/"
                  data-id="{{ page.id }}"
                  data-vanity-url="{{ page.vanity_url }}"
                  method="POST"
                  id="entry_edit_form">
                {% csrf_token %}
                <div id="main-stub" class="stub section-in-form">
                    <ul class="required-labels all-labels">
                        <ul class="required-labels all-labels">
                            <li class="label-entry-type labels">Type of Page <span class="required">*</span></li>
                            <li class="label-entry-name labels">Entry name <span class="required">*</span></li>
                            <li class="label-entry-tags labels">Tags <span class="required">*</span></li>
                            <li class="label-entry-description labels" style="margin-top: 10px;">
                                Description
                                <span class="required">*</span>
                            </li>
                        </ul>
                    </ul>
                    <ul class="required-fields all-fields">
                        <li class="entry-type fields">
                            {{ form.type.errors }}
                            {{ form.type }}
                        </li>
                        <li class="entry-name fields">
                            {{ form.name.errors }}
                            {{ form.name }}
                        </li>
                        <li class="entry-tags fields">
                            {{ form.tags.errors }}
                            {{ form.tags }}
                        </li>
                        <li class="entry-description fields">
                            {{ form.description.errors }}
                            {{ form.description }}
                            <span id="helper-description" class="helper-popups {{ page.type }}-border">
                            Tell us some details about this entry. Don't worry about too much technical data, just give us an idea of what this entry is about. This description will be displayed on the entries page.
                            </span>
                        </li>
                    </ul>
                    <div class="cf"></div>
                </div>
                <div class="basics section-in-form">
                    <ul class="basic-labels all-labels">
                        <li class="label-entry-location labels hide">Location</li>
                        <li class="label-entry-source labels">Homepage</li>
                        <li class="label-entry-date labels">Date Established</li>
                        {% if page.type.name == 'person' or page.type.name == "organization"  %}
                            <li class="label-entry-date-2 labels">Is Deceased?</li>
                            <li class="label-entry-date-3 labels" style="display: none;">Date Deceased</li>
                        {% endif %}
                    </ul>
                    <ul class="basic-fields all-fields">
                        <li class="entry-location fields hide">
                            {{ form.location.errors }}
                            {{ form.location }}
                        </li>
                        <li class="entry-homepage fields">
                            {{ form.homepage.errors }}
                            {{ form.homepage }}
                        </li>
                        <li class="entry-date fields">
                            {{ form.date_established.errors }}
                            {{ form.date_established }}
                            <span id="helper-story-date-established" class="helper-popups {{ page.type }}-border">MM/DD/YYYY or YYYY</span>
                        </li>
                        {% if page.type.name == 'person' or page.type.name == "organization" %}
                            <li class="entry-date-2 fields">
                                {{ form.is_deceased.errors }}
                                {{ form.is_deceased }}
                            </li>
                            <li class="entry-date-3 fields" style="display:none;">
                                {{ form.date_deceased.errors }}
                                {{ form.date_deceased }}
                            </li>
                        {% endif %}
                    </ul>
                    <div class="cf"></div>
                </div>
            </form>
            <div class="stories-col section-in-form">
                <ul class="story-explanation">
                    <li class="label-story-header labels"><h2>Add a Story or Media</h2></li>
                    <li class="story-helpertext"><p>Did you contribute to the development of an innovative technology or
                        project? Did you have a chance to work with someone brimming with amazing talent? Here is a
                        chance to share them!</p></li>
                    <li class="share">
                        <button class="new-story-button organization-hover" data-href="/share/story/{{ page.vanity_url }}/">
                            Share Stories or Add Media
                        </button>
                    </li>
                </ul>
                <div class="new-story-container">
                    {% include 'pages/add_story.html' %}
                </div>
                <div class="edit-story-container">
                    {% for story_form in story_forms %}
                        {% include 'pages/edit_story.html' %}
                    {% endfor %}
                </div>
            </div>
            {% include 'pages/create_connections.html' %}
        </div>
    </div>
{% endblock %}
