<div class="cf"></div>
<div class="stories edit" style="">
    <p class="story-collapsed-heading">
        <span class="title {{ page.type|lower }}">{{ story_form.instance.title|truncatechars:"35" }}</span>
        <span class="story-type"></span>
        <span class="info" id="{{ story_form.instance.id }}">
            {% if story_form.instance.published %}
                Published
            {% else %}
                Unpublished
            {% endif %}
        </span>
    </p>

    <div class="story-collapsed">
        {% if story_form.instance.text != "" %}
            <form action="/edit/story/text/{{ story_form.instance.id }}/" method="POST" accept-charset="utf-8">
        {% elif story_form.instance.video != "" %}
            <form action="/edit/story/video/{{ story_form.instance.id }}/" method="POST" accept-charset="utf-8">
        {% elif story_form.instance.image != "" %}
            <form action="/edit/story/image/{{ story_form.instance.id }}/" method="POST" accept-charset="utf-8">
        {% endif %}
        {% csrf_token %}
            <ul class="story-labels all-labels">
                <li class="label-story-title labels">Title<span class="required"> *</span></li>
                <li class="label-story-date labels">Date</li>
                <li class="label-story-source labels">Source</li>
                {% if story_form.instance.text != "" %}
                    <li class="label-story-source_url labels">Source URL</li>
                    <li class="label-story-story labels">Story<span class="required"> *</span></li>
                {% elif story_form.instance.video != "" or story_form.instance.image != "" %}
                    <li class="label-story-url labels">URL<span class="required"> *</span></li>
                {% endif %}
            </ul>
            <ul class="story-fields all-fields">
                <li class="story-title fields">
                    {{ story_form.title.errors }}
                    {{ story_form.title }}
                </li>
                <li class="story-date fields {{ page.type }}">
                    {{ story_form.date.errors }}
                    {{ story_form.date }}
                    <span id="helper-story-date" class="helper-popups organization-border">When did this story take place?</span>
                </li>
                <li class="story-source fields {{ page.type }}">
                    {{ story_form.source.errors }}
                    {{ story_form.source }}
                </li>
                {# Text #}
                {#########}
                {% if story_form.instance.text != "" %}
                    <li class="story-source fields {{ page.type }}">
                        {{ story_form.source_url.errors }}
                        {{ story_form.source_url }}
                    </li>
                    <li class="story-body fields {{ page.type }}">
                        {{ story_form.text.errors }}
                        {{ story_form.text }}
                        <span id="helper-story-story" class="helper-popups organization-border">What happened? Who was involved? Remember, this is isn't an encyclopedia entry, give us the inside story!</span>
                    </li>
                {# Image #}
                {#########}
                {% elif story_form.instance.image != "" %}
                    <li class="story-url fields">
                        {{ story_form.image.errors }}
                        {{ story_form.image }}
                    </li>
                {# Video #}
                {#########}
                {% elif story_form.instance.video != "" %}
                    <li class="story-url fields">
                        {{ story_form.video.errors }}
                        {{ story_form.video }}
                        <span id="helper-story-date" class="helper-popups organization-border">Paste or type a YouTube URL here.</span>
                    </li>
                    <li class="story-preview"></li>
                {% endif %}
                <!-- <li class="story-source fields">
                    <input id="id_source" type="text" name="source" maxlength="200" class="need-helper person" value="{% if story.source %}{{ story.source }}{% endif %}">
                    <span id="helper-story-source" class="helper-popups need-helper organization-border"
                          style="display: none; width: 250px; color: #fff;">If this is a first hand account, give yourself credit! If not that's ok, tell us whose story it is.</span>
                </li>
                <li class="story-source_url fields">
                    <input id="id_source_url" type="text" name="source_url" class="need-helper person" value="{% if story.source_url %}{{ story.source_url }}{% endif %}">
                </li>
                <li class="story-body fields">
                    <textarea id="id_text" style="width:340px;" rows="10" cols="40" name="text" class="need-helper person">{{ story.text }}</textarea>
                    <span id="helper-story-story" class="helper-popups organization-border" style="display: none;">What happened? Who was involved? Remember, this is isn't an encyclopedia entry, give us the inside story!</span>
                </li> -->
                <li>
                    <button class="organization-hover"> Save Story </button>
                    <button class="story-publish-button" data-id="{{ story_form.instance.id }}">
                        {% if story_form.instance.published %}
                            Unpublish
                        {% else %}
                            Publish
                        {% endif %}
                    </button>
                    <button class="delete-story" data-story-id="{{ story_form.instance.id }}" data-vanity-url="{{ page.vanity_url }}"> Delete </button>
                </li>
            </ul>
            <div class="cf" style="display: none;"></div>
        </form>
        <div class="cf" style="display: none;"></div>
    </div>
    <div class="cf" style="display: none;"></div>
</div>