{% extends 'default/base.html' %}
{% load staticfiles %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles-form.css' %}" once="1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/token-input.css' %}" once="1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/token-input-hcg.css' %}" once="1">

    <script type="text/javascript" src="{% static 'js/entry-stub.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/entry-extras.js' %}"></script>
{% endblock %}
{% block content %}
    <div id="content">
        <div class="message" style="display: none;"></div>
        <div class="form-container">
            <div id="toolbar">
                <div class="title"><h1>Edit Entry</h1></div>
                <div class="publish-status">Published</div>
                <div class="view"><a class="button organization-hover" href="/pages/{{ page.vanity_url }}">View Entry</a></div>
                <div class="save">
                    <button class="organization-hover">Save Draft</button>
                    <button class="publish-button organization-hover">Unpublish</button>
                    <input type="hidden" name="data[Entry][published]" class="publish" value="0">
                </div>
                <div class="cf"></div>
            </div>
            <form action="/edit/page/{{ page.vanity_url }}/" method="POST" id="EntryEditForm">{% csrf_token %}
                <div id="main-stub" class="stub section-in-form">
                    <ul class="required-labels all-labels">
                        <li class="label-entry-type labels">Type of Page <span class="required">*</span></li>
                        <li class="label-entry-name labels">Entry name <span class="required">*</span></li>
                        <li class="label-entry-name labels">Vanity URL <span class="required">*</span></li>
                        <li class="label-entry-tags labels">Tags <span class="required">*</span></li>
                    </ul>
                    <ul class="required-fields all-fields">
                        <li class="entry-type fields">
                            {{ form.type.errors }}
                            {{ form.type }}
                        </li>
                        <li class="entry-name fields">
                            {{ form.name.errors }}
                            {{ form.name }}
                        </li>
                        <li class="entry-name fields">
                            {{ form.vanity_url.errors }}
                            {{ form.vanity_url }}
                        </li>
                        <li class="entry-tags fields">
                            <ul class="token-input-list-hcg tags organization">
                            </ul>
                        </li>
                    </ul>
                    <div class="cf"></div>
                </div>
                <div class="basics section-in-form">
                    <ul class="basic-labels all-labels">
                        <li class="label-entry-description labels"><span class="label">Description <span class="required"></span></span></li>
                        <li class="label-entry-homepage labels">Homepage</li>
                        <li class="label-entry-date labels"><span class="label">Date Established</span><span class="required"> *</span></li>
                    </ul>
                    <ul class="basic-fields all-fields">
                        <li class="entry-description fields">
                            {{ form.description.errors }}
                            {{ form.description }}
                        </li>
                        <li class="entry-homepage fields">
                            {{ form.homepage.errors }}
                            {{ form.homepage }}
                        </li>
                        <li class="entry-date fields">
                            {{ form.date_established.errors }}
                            {{ form.date_established }}
                        </li>
                    </ul>
                    <div class="cf"></div>
                </div>
                <input type="submit" value="Submit" />
            </form>
            <div class="stories-col section-in-form">
            <ul class="story-explanation">
                <li class="label-story-header labels"><h2>Add a Story or Media</h2></li>
                <li class="story-helpertext"><p>Did you contribute to the development of an innovative technology or project? Did you have a chance to work with someone brimming with amazing talent? Here is a chance to share them!</p></li>
                <li class="share"><button class="btn-story organization-hover">Share Stories or Add Media</button></li>
            </ul>
            <div class="cf"></div>
            <div class="stories new" id="story-template" style="display: none;">
                <p class="story-collapsed-heading">
                    <span class="title organization">New Story</span>
                    <span class="delete ui-icon ui-icon-close"></span>
                    <span class="story-type"></span>
                    <span class="info">Not Saved</span>
                </p>
                <div class="story-collapsed">
                    <div class="tabs">
                        <ul class="tabs_nav">
                            <li class="tabs_link"><a href="#type-1">Text</a></li>
                            <li class="tabs_link"><a href="#type-2">Image</a></li>
                            <li class="tabs_link"><a href="#type-3">Video</a></li>
                        </ul>
                        <div class="tab-content" data-tab="type-1">
                            <form action="/stories/add_or_edit" method="post" accept-charset="utf-8">
                                <input type="hidden" class="story-type" name="data[Story][story_type_id]" value="3">
                                <ul class="story-labels all-labels">
                                    <li class="label-story-title labels">Title</li>
                                    <li class="label-story-date labels">Date</li>
                                    <li class="label-story-story labels">Story</li>
                                    <li class="label-story-author labels">Author</li>
                                </ul>
                                <ul class="story-fields all-fields">
                                    <li class="story-title fields">
                                        <input type="text" name="data[Story][title]" class="need-helper organization" value="" placeholder="New Story">
                                        <span id="helper-story-title" class="helper-popups organization-border">What is this the story of?</span>
                                    </li>
                                    <li class="story-date fields">
                                        <input type="text" class="datepicker need-helper organization" value="" placeholder="MM/DD/YYYY">
                                        <input name="data[Story][date]" type="hidden" value="">
                                        <span id="helper-story-date" class="helper-popups organization-border">When did this story take place?</span>
                                    </li>
                                    <li class="story-body fields">
                                        <textarea class="need-helper organization" name="data[Story][story]" rows="10" cols="30"></textarea>
                                        <span id="helper-story-story" class="helper-popups organization-border">What happened? Who was involved? Remember, this is isn't an encyclopedia entry, give us the inside story!</span>
                                    </li>
                                    <li class="story-author fields">
                                        <input type="text" class="need-helper organization ui-autocomplete-input" value="" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                                        <input type="hidden" class="author-id" name="data[Story][author_id]" value="">
                                        <span id="helper-story-author" class="helper-popups need-helper organization-border">If this is a first hand account, give yourself credit! If not that's ok, tell us whose story it is.</span>
                                    </li>
                                    <li class="story-source fields">
                                        <input type="checkbox" class="story-source-checkbox" name="data[source_selected]" value="yes">
                                        <label for="story-source">I got this description from somewhere else</label>
                                    </li>
                                    <li class="source-title" style="display: none;">
                                        <label>Source:</label><input type="text" name="data[Story][source_name]" class="organization">
                                    </li>
                                    <li class="source-url" style="display: none;">
                                        <label>URL (if applicable):</label><input type="text" name="data[Story][source_url]" class="organization">
                                    </li>
                                    <li class="story-save save">
                                        <button class="organization-hover">Save Story</button>
                                        <button class="publish-button organization-hover">Publish Story</button>
                                        <input type="hidden" class="publish" name="data[Story][published]" value="1">
                                    </li>
                                </ul>
                                <div class="cf"></div>
                                <input type="hidden" class="story-id" name="data[Story][id]" value="">
                            </form>
                            <div class="cf"></div>
                        </div>
                        <div class="tab-content" data-tab="type-2">
                            <form action="/stories/add_or_edit" method="post" accept-charset="utf-8">
                                <input type="hidden" class="story-type" name="data[Story][story_type_id]" value="2">
                                <ul class="story-labels all-labels">
                                    <li class="label-story-title labels">Title</li>
                                    <li class="label-story-url labels">URL</li>
                                </ul>
                                <ul class="story-fields all-fields">
                                    <li class="story-title fields">
                                        <input type="text" name="data[Story][title]" class="need-helper organization" value="" placeholder="New Story">
                                        <span id="helper-story-title" class="helper-popups organization-border">What is this the story of?</span>
                                    </li>
                                    <li class="story-url fields">
                                        <input type="text" name="data[Story][url]" class="need-helper organization" value="">
                                        <span id="helper-story-date" class="helper-popups organization-border">Paste or type a URL to the media in here.</span>
                                    </li>
                                    <li class="story-preview">
                                    </li>
                                    <li class="story-save save">
                                        <button class="organization-hover">Save Story</button>
                                        <button class="publish-button organization-hover">Publish Story</button>
                                        <input type="hidden" class="publish" name="data[Story][published]" value="1">
                                    </li>
                                </ul>
                                <div class="cf"></div>
                                <input type="hidden" class="story-id" name="data[Story][id]" value="">
                            </form>
                            <div class="cf"></div>
                        </div>
                        <div class="tab-content" data-tab="type-3">
                            <form action="/stories/add_or_edit" method="post" accept-charset="utf-8">
                                <input type="hidden" class="story-type" name="data[Story][story_type_id]" value="1">
                                <ul class="story-labels all-labels">
                                    <li class="label-story-title labels">Title</li>
                                    <li class="label-story-url labels">URL</li>
                                </ul>
                                <ul class="story-fields all-fields">
                                    <li class="story-title fields">
                                        <input type="text" name="data[Story][title]" class="need-helper organization" value="" placeholder="New Story">
                                        <span id="helper-story-title" class="helper-popups organization-border">What is this the story of?</span>
                                    </li>
                                    <li class="story-url fields">
                                        <input type="text" name="data[Story][url]" class="need-helper organization" value="">
                                        <input type="hidden" name="data[Story][video]" class="video-id" value="">
                                        <span id="helper-story-date" class="helper-popups organization-border">Paste or type a URL to the media in here.</span>
                                    </li>
                                    <li class="story-preview">
                                    </li>
                                    <li class="story-save save">
                                        <button class="organization-hover">Save Story</button>
                                        <button class="publish-button organization-hover">Publish Story</button>
                                        <input type="hidden" class="publish" name="data[Story][published]" value="1">
                                    </li>
                                </ul>
                                <div class="cf"></div>
                                <input type="hidden" class="story-id" name="data[Story][id]" value="">
                            </form>
                            <div class="cf"></div>
                        </div>
                        <div class="cf"></div>
                    </div>
                </div>
            </div>
            <div class="stories new" style="">
                <p class="story-collapsed-heading">
                    <span class="title organization">New Story</span>
                    <span class="delete ui-icon ui-icon-close"></span>
                    <span class="story-type"></span>
                    <span class="info">Not Saved</span>
                </p>
                <div class="story-collapsed" style="display: block;">
                    <div class="tabs">
                        <ul class="tabs_nav">
                            <li class="tabs_link active"><a href="#type-1">Text</a></li>
                            <li class="tabs_link"><a href="#type-2">Image</a></li>
                            <li class="tabs_link"><a href="#type-3">Video</a></li>
                        </ul>
                        <div class="tab-content" data-tab="type-1" style="">
                            <form action="/stories/add_or_edit" method="post" accept-charset="utf-8">
                                <input type="hidden" class="story-type" name="data[Story][story_type_id]" value="3">
                                <ul class="story-labels all-labels">
                                    <li class="label-story-title labels">Title</li>
                                    <li class="label-story-date labels">Date</li>
                                    <li class="label-story-story labels">Story</li>
                                    <li class="label-story-author labels">Author</li>
                                </ul>
                                <ul class="story-fields all-fields">
                                    <li class="story-title fields">
                                        <input type="text" name="data[Story][title]" class="need-helper organization" value="" placeholder="New Story">
                                        <span id="helper-story-title" class="helper-popups organization-border">What is this the story of?</span>
                                    </li>
                                    <li class="story-date fields">
                                        <input type="text" class="datepicker need-helper organization" value="" placeholder="MM/DD/YYYY">
                                        <input name="data[Story][date]" type="hidden" value="">
                                        <span id="helper-story-date" class="helper-popups organization-border">When did this story take place?</span>
                                    </li>
                                    <li class="story-body fields">
                                        <textarea class="need-helper organization" name="data[Story][story]" rows="10" cols="30"></textarea>
                                        <span id="helper-story-story" class="helper-popups organization-border">What happened? Who was involved? Remember, this is isn't an encyclopedia entry, give us the inside story!</span>
                                    </li>
                                    <li class="story-author fields">
                                        <input type="text" class="need-helper organization ui-autocomplete-input" value="" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                                        <input type="hidden" class="author-id" name="data[Story][author_id]" value="">
                                        <span id="helper-story-author" class="helper-popups need-helper organization-border">If this is a first hand account, give yourself credit! If not that's ok, tell us whose story it is.</span>
                                    </li>
                                    <li class="story-source fields">
                                        <input type="checkbox" class="story-source-checkbox" name="data[source_selected]" value="yes">
                                        <label for="story-source">I got this description from somewhere else</label>
                                    </li>
                                    <li class="source-title" style="display: none;">
                                        <label>Source:</label><input type="text" name="data[Story][source_name]" class="organization">
                                    </li>
                                    <li class="source-url" style="display: none;">
                                        <label>URL (if applicable):</label><input type="text" name="data[Story][source_url]" class="organization">
                                    </li>
                                    <li class="story-save save">
                                        <button class="organization-hover">Save Story</button>
                                        <button class="publish-button organization-hover">Publish Story</button>
                                        <input type="hidden" class="publish" name="data[Story][published]" value="1">
                                    </li>
                                </ul>
                                <div class="cf" style="display: none;"></div>
                                <input type="hidden" class="story-id" name="data[Story][id]" value="">
                            </form>
                            <div class="cf" style="display: none;"></div>
                        </div>
                        <div class="tab-content" data-tab="type-2" style="display: none;">
                            <form action="/stories/add_or_edit" method="post" accept-charset="utf-8">
                                <input type="hidden" class="story-type" name="data[Story][story_type_id]" value="2">
                                <ul class="story-labels all-labels">
                                    <li class="label-story-title labels">Title</li>
                                    <li class="label-story-url labels">URL</li>
                                </ul>
                                <ul class="story-fields all-fields">
                                    <li class="story-title fields">
                                        <input type="text" name="data[Story][title]" class="need-helper organization" value="" placeholder="New Story">
                                        <span id="helper-story-title" class="helper-popups organization-border">What is this the story of?</span>
                                    </li>
                                    <li class="story-url fields">
                                        <input type="text" name="data[Story][url]" class="need-helper organization" value="">
                                        <span id="helper-story-date" class="helper-popups organization-border">Paste or type a URL to the media in here.</span>
                                    </li>
                                    <li class="story-preview">
                                    </li>
                                    <li class="story-save save">
                                        <button class="organization-hover">Save Story</button>
                                        <button class="publish-button organization-hover">Publish Story</button>
                                        <input type="hidden" class="publish" name="data[Story][published]" value="1">
                                    </li>
                                </ul>
                                <div class="cf" style="display: none;"></div>
                                <input type="hidden" class="story-id" name="data[Story][id]" value="">
                            </form>
                            <div class="cf" style="display: none;"></div>
                        </div>
                        <div class="tab-content" data-tab="type-3" style="display: none;">
                            <form action="/stories/add_or_edit" method="post" accept-charset="utf-8">
                                <input type="hidden" class="story-type" name="data[Story][story_type_id]" value="1">
                                <ul class="story-labels all-labels">
                                    <li class="label-story-title labels">Title</li>
                                    <li class="label-story-url labels">URL</li>
                                </ul>
                                <ul class="story-fields all-fields">
                                    <li class="story-title fields">
                                        <input type="text" name="data[Story][title]" class="need-helper organization" value="" placeholder="New Story">
                                        <span id="helper-story-title" class="helper-popups organization-border">What is this the story of?</span>
                                    </li>
                                    <li class="story-url fields">
                                        <input type="text" name="data[Story][url]" class="need-helper organization" value="">
                                        <input type="hidden" name="data[Story][video]" class="video-id" value="">
                                        <span id="helper-story-date" class="helper-popups organization-border">Paste or type a URL to the media in here.</span>
                                    </li>
                                    <li class="story-preview">
                                    </li>
                                    <li class="story-save save">
                                        <button class="organization-hover">Save Story</button>
                                        <button class="publish-button organization-hover">Publish Story</button>
                                        <input type="hidden" class="publish" name="data[Story][published]" value="1">
                                    </li>
                                </ul>
                                <div class="cf" style="display: none;"></div>
                                <input type="hidden" class="story-id" name="data[Story][id]" value="">
                            </form>
                            <div class="cf" style="display: none;"></div>
                        </div>
                        <div class="cf" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
            <div class="right-column">
                <h2>Create connections</h2>
                <p>Think of some other topics, subjects or categories that this post relates to? Make the connections between entries here!</p>
                <div class="connections-col section-in-form">
                    <div class="stub" id="connection-form">
                        <form action="/connections/add" method="post" accept-charset="utf-8">
                            <ul class="required-fields all-fields">
                                <li class="entry-name fields connection-fields">
                                    <input type="text" placeholder="Entry name" name="data[Entry][name]" value="" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                                    <input type="hidden" class="entry-id" name="data[connection_id]" value="">
                                </li>
                                <li class="entry-type fields connection-fields extra" style="display: none;">
                                    <select class="entry-type-select" name="data[Entry][category_id]">
                                        <option value="" selected="selected">-- Type of Entry --</option>
                                        <option value="1">A Person</option>
                                        <option value="2">A Project</option>
                                        <option value="3">An Organization</option>
                                        <option value="4">An Event</option>
                                    </select>
                                </li>
                                <li class="entry-tags fields connection-fields extra" style="display: none;">
                                    <ul class="token-input-list-hcg tags"><li class="token-input-input-token-hcg"><input type="text" autocomplete="off" style="outline: none;" tabindex="0" placeholder="Add a tag"><tester style="position: absolute; top: -9999px; left: -9999px; width: auto; font-size: 14px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; letter-spacing: normal; white-space: nowrap;"></tester></li></ul><input type="hidden" placeholder="Related tags" name="data[tags]" class="tags" value="">
                                </li>
                            </ul>
                            <div class="cf"></div>
                            <button class="organization-hover">Connect entries</button>
                        </form>
                    </div>
                    <div class="connections" id="connection-template" style="display: none;">
                        <span class="name"></span>
                        <span class="delete ui-icon ui-icon-close"></span>
                        <div class="cf"></div>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}