<div class="cf"></div>
<div class="stories edit" style="">
    <p class="story-collapsed-heading">
        <span class="title {{ story.type }}">{{ story.title|truncatewords:"7" }}</span>
        <span class="delete ui-icon ui-icon-close" data-story-id="{{ story.id }}" data-vanity-url="{{ page.vanity_url }}"></span>
        <span class="story-type"></span>
        <span class="info">{% if story.published %}Published{% else %}Saved{% endif %}</span>
    </p>
    <div class="story-collapsed" style="display: none;">
        {% if story.text %}
            <form action="/edit/story/text/{{ story.id }}/" method="POST" accept-charset="utf-8" id="TextStoryEditForm">{% csrf_token %}
                <ul class="story-labels all-labels">
                    <li class="label-story-title labels">Title</li>
                    <li class="label-story-date labels">Date</li>
                    <li class="label-story-source labels">Source</li>
                    <li class="label-story-story labels">Story</li>
                </ul>
                <ul class="story-fields all-fields">
                    <li class="story-title fields">
                        <input type="text" name="title" id="id_title" class="need-helper {{ page.type }}" value="{{ story.title|safe }}">
                        <span id="helper-story-title" class="helper-popups organization-border">What is this the story of?</span>
                    </li>
                    <li class="story-date fields">
                        <input type="text" name="date" id="id_date" class="need-helper {{ page.type }}" {% if story.date %}value="{{ story.date.month }}/{{ story.date.day }}/{{ story.date.year }}"{% endif %}>
                        <span id="helper-story-date" class="helper-popups organization-border" style="display: none;">When did this story take place?</span>
                    </li>
                    <li class="story-source fields">
                        <input type="text" name="source" id="id_source" class="need-helper {{ page.type }}" value="{{ story.source|safe }}">
                        <span id="helper-story-source" class="helper-popups need-helper organization-border" style="display: none; width: 250px; color: #fff;">If this is a first hand account, give yourself credit! If not that's ok, tell us whose story it is.</span>
                    </li>
                    <li class="story-body fields">
                        <textarea id="id_text" rows="10" cols="40" name="text" class="need-helper {{ page.type }}">{{ story.text }}</textarea>
                        <span id="helper-story-story" class="helper-popups organization-border" style="display: none;">What happened? Who was involved? Remember, this is isn't an encyclopedia entry, give us the inside story!</span>
                    </li>
                    <li>
                        <button class="organization-hover">Save Story</button>
                        <button class="story-publish-button" data-id="{{ story.id }}">{% if story.published %}Unpublish{% else %}Publish{% endif %}</button>
                    </li>
                </ul>
                <div class="cf" style="display: none;"></div>
            </form>
        {% endif %}
        {% if story.image %}
            <form action="/edit/story/image/{{ story.id }}/" method="post" accept-charset="utf-8">{% csrf_token %}
                <ul class="story-labels all-labels">
                    <li class="label-story-title labels">Title</li>
                    <li class="label-story-date labels">Date</li>
                    <li class="label-story-url labels">Image URL</li>
                </ul>
                <ul class="story-fields all-fields">
                    <li class="story-title fields">
                        <input type="text" name="title" id="id_title" class="need-helper organization" value="{{ story.title }}">
                        <span id="helper-story-title" class="helper-popups organization-border">What is this the story of?</span>
                    </li>
                    <li class="story-date fields">
                        <input type="text" name="date" id="id_date" class="need-helper organization" {% if story.date %}value="{{ story.date.month }}/{{ story.date.day }}/{{ story.date.year }}"{% endif %}>
                    </li>
                    <li class="story-url fields">
                        <input type="text" name="image" id="id_image" class="need-helper organization" value="{{ story.image }}">
                    </li>
                    <li class="story-save save">
                        <button class="organization-hover">Save Story</button>
                        <button class="story-publish-button" data-id="{{ story.id }}">{% if story.published %}Unpublish{% else %}Publish{% endif %}</button>
                    </li>
                </ul>
                <div class="cf" style="display: none;"></div>
                <input type="hidden" class="story-id" name="data[Story][id]" value="">
            </form>
        {% endif %}
        {% if story.video %}
            <form action="/edit/story/video/{{ story.id }}/" method="post" accept-charset="utf-8">
                <input type="hidden" class="story-type" name="data[Story][story_type_id]" value="1">
                <ul class="story-labels all-labels">
                    <li class="label-story-title labels">Title</li>
                    <li class="label-story-date labels">Date</li>
                    <li class="label-story-url labels">Video URL</li>
                </ul>
                <ul class="story-fields all-fields">
                    <li class="story-title fields">
                        <input type="text" name="title" id="id_title" class="need-helper organization" value="{{ story.title }}">
                        <span id="helper-story-title" class="helper-popups organization-border">What is this the story of?</span>
                    </li>
                    <li class="story-date fields">
                        <input type="text" name="date" id="id_date" class="need-helper organization" {% if story.date %}value="{{ story.date.month }}/{{ story.date.day }}/{{ story.date.year }}"{% endif %}>
                    </li>
                    <li class="story-url fields">
                        <input type="text" name="image" id="id_video" class="need-helper organization" value="{{ story.image }}">
                    </li>
                    <li class="story-save save">
                        <button class="organization-hover">Save Story</button>
                        <button class="publish-button organization-hover">Publish Story</button>
                        <input type="hidden" class="publish" name="data[Story][published]" value="1">
                    </li>
                </ul>
                <div class="cf" style="display: none;"></div>
                <input type="hidden" class="story-id" name="data[Story][id]" value="">
            </form>
        {% endif %}
        <div class="cf" style="display: none;"></div>
    </div>
    <div class="cf" style="display: none;"></div>
</div>