{% extends 'default/base.html' %}
{% load staticfiles %}{% load hocgtags %}
{% block content %}
    <div id="content">
        <div class="message" style="display: none;"></div>
        <div class="timeline">
            <img src="{% static 'img/timeline/timeline.png' %}">
            <div class="tooltip" style="left: 187px; top: 505px; display: none;">Timeline coming soon!</div>
        </div>
        <!-- start of page content -->
        <section class="entryMast">
            <h1 class="entryTitle organization">{{ page.name }}</h1>
            <div class="catBarContainer">
                <ul class="catBar">
                    <li class="category project"><a href="#" data-filter=".project">Projects</a></li>
                    <li class="category person"><a href="#" data-filter=".person">People</a></li>
                    <li class="category organization"><a href="#" data-filter=".organization">Organizations</a></li>
                    <li class="category event"><a href="#" data-filter=".event">Events</a></li>
                    {% if user.is_authenticated %}<li class="editEntry"><a href="/edit/page/{{ page.vanity_url }}">Edit Page</a></li>{% endif %}
                    <div class="cf"></div>
                </ul>
            </div>
        </section>
        <section class="tagLists">
            <div class="" style="display:none;">
                <ul>
                    {% for tag in tag_list %}
                        <li class="{{ tag.name }}" data-filter="*" checked="checked">{{ tag.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="mosaicBody">
            <ul class="mosaicContainer cf isotope" style="opacity: 1; position: relative; overflow: hidden; height: 1979px;">
                <li class="dynamic organization">
                    <p>{{ page.description }}</p>
                </li>
                {% for is in image_stories %}
                    <li class="tile story story-image{% for t in is.tags.all %}{{ t.name }}{% endfor %}{% if is|object_user_is:'pioneer' %} pioneer {% endif %}isotope-item" data-image="{{ is.image|safe }}"">
                        <div class="container">
                            <img src="{{ is.image }}">
                        </div>
                        <div class="bottom-link">
                            <span class="opener">{{ is.title|truncatechars:"15" }}</span>
                            <span class="story-type story-type-icon-image"></span>
                            {% if request.user.is_authenticated %}
                            <span class="story-type {{ is|user_vote_cast:request.user.id }}" data-story-id="{{ is.id }}"></span>
                            {% endif %}
                            <div class="cf"></div>
                        </div>
                    </li>
                {% endfor %}
                {% for vs in video_stories %}
                    <li class="tile story story-video {% for t in vs.tags.all %} {{ t.name }}{% endfor %} isotope-item" data-video="{{ vs.video|safe }}">
                        <div class="container">
                            <div class='lite' style='width:478px; height:359px' id="{{ vs.video }}"></div>
                        </div>
                        <div class="bottom-link">
                            <span class="opener">{{ vs.title|truncatechars:"15" }}</span>
                            <span class="story-type story-type-icon-video"></span>
                            {% if request.user.is_authenticated %}
                            <span class="story-type {{ vs|user_vote_cast:request.user.id }}" data-story-id="{{ vs.id }}"></span>
                            {% endif %}
                            <div class="cf"></div>
                        </div>
                    </li>
                {% endfor %}
                {% for ts in text_stories %}
                    <li class="tile story story-text {% for t in ts.tags.all %} {{ t.name }}{% endfor %}{% if ts|object_user_is:'pioneer' %} pioneer {% endif %}isotope-item" data-full-text="{{ ts.text|safe }}">
                        <div class="container">
                            <p>{{ ts.text|truncatewords:60 }}</p>
                        </div>
                        <div class="bottom-link">
                            <span class="opener">{{ ts.title|truncatechars:"15" }}</span>
                            <span class="story-type story-type-icon-text"></span>
                            {% if request.user.is_authenticated %}
                            <span class="story-type {{ ts|user_vote_cast:request.user.id }}" data-story-id="{{ ts.id }}"></span>
                            {% endif %}
                            <div class="cf"></div>
                        </div>
                    </li>
                {% endfor %}
                {% for connection in connections.all %}
                    <li class="tile connection {{ connection.type.name }} isotope-item">
                        <div class="container">
                            <img src="{{ connection.image }}">
                        </div>
                        <div class="bottom-link">
                            {% if connection|object_user_is:'pioneer' %}
                                <a href="/about/pioneers/" class="connection-user-pioneer"></a>
                            {% endif %}
                            <span>{{ connection.name|truncatechars:"15" }}</span>
                            <a class="link-button" href="/pages/{{ connection.vanity_url }}"><span class="triangle"></span></a>
                            <div class="cf"></div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section class="entryInfo" style="display: none;">
            <input type="hidden" class="entryName" value="Pixar Animation Studios">
            <input type="hidden" class="entryId" value="6">
            <input type="hidden" class="entryCategory" value="organization">
            <div class="entryDescription">
                <p>
                    {{ page.description }}
                </p>
            </div>
        </section>
    </div>
{% endblock %}