{% extends 'default/base.html' %}
{% load staticfiles %}
{% load hocgtags %}
{% block extra_head %}
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'css/nivo-lightbox.css' %}">
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'css/nivo-theme/default.css' %}">
    <script type="text/javascript" src="{% static 'js/libs/nivo-lightbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/entry_show.js' %}"></script>

    <!-- Timeline Specific Assets -->
    <script type="text/javascript" src="{% static 'js/libs/d3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/timeline.js' %}"></script>
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'css/timeline.css' %}">

{% endblock %}
{% block content %}
    <div id="content">
        <div class="message" style="display: none;"></div>
        {% include "pages/timeline.html" %}
        <!-- start of page content -->
        <section class="entryMast">
            <h1 class="entry_title {{ page.type }}" data-type="{{ page.type }}">{{ page.name }}</h1>
            <div class="entry_dates">
                {% if page.date_established %}
                    <p><span id="date_established"> Established Date: </span> {{ page.date_established }} </p>
                {% endif %}
                {% if page.date_deceased %}
                    <p><span id="date_deceased"> Deceased Date: </span> {{ page.date_deceased }} </p>
                {% endif %}
            </div>
            <div class="catBarContainer">
                <ul class="catBar">
                    <li class="category project"><a href="#" data-filter=".project">Projects</a></li>
                    <li class="category person"><a href="#" data-filter=".person">People</a></li>
                    <li class="category organization"><a href="#" data-filter=".organization">Organizations</a></li>
                    <li class="category event"><a href="#" data-filter=".event">Events</a></li>
                    {% if user.is_authenticated %}
                        <li class="editEntry"><a href="/edit/page/{{ page.vanity_url }}">Edit Page</a></li>
                    {% endif %}
                    <div class="cf"></div>
                </ul>
            </div>
        </section>
        <section class="tagLists">
            <div class="" style="display:none;">
                <ul>
                    <li class="all" style=""><input type="checkbox" data-filter="*" checked="checked">All</li>
                    {% for k,v in tag_dict %}
                        <li class="{{ k }}" style="display: inline-block">
                            <input type="checkbox" data-filter=".{{ v.split|join:"-" }}">{{ v }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="mosaicBody">
            <ul class="mosaicContainer cf isotope"
               {# TODO: This inline style shit needs to go #}
                style="opacity: 1; position: relative; overflow: hidden; height: 1979px;">
                <li class="dynamic {{ page.type }}">
                    <p>{{ page.description|truncatewords:120|safe }}</p>
                </li>
                {% for story in all_stories %}
                    <li class="tile story isotope-item nivo-lightbox-item
                        {{ story|get_story_type }} {% random_double_size %}"
                        {% if story.text != "" %}
                            href="#story-{{story.id}}"
                        {% elif story.image != "" %}
                            href="{{ story.image|safe }}"
                        {% elif story.video != "" %}
                            href="{{ story.video|safe }}"
                        {% endif %}
                        data-index={{ forloop.counter }}
                        title="{{ story.title|safe }}"
                        data-lightbox-gallery="gallery1">
                    <div class="container {{ story|get_story_type }}">
                        {% if story|get_story_type == "story-text" %}
                            <p>{{ story.text|truncatewords:80|safe }}</p>
                        {% elif story|get_story_type == "story-image" %}
                            <img src="{{ story.image }}">
                        {% elif story|get_story_type == "story-video" %}
                            {% if story|is_youtube_video %}
                                <img src="{{ story|get_youtube_img }}" class='story_video_image'>
                            {% elif story|is_vimeo_video %}
                                <div class="vimeo_video hide" data-url="{{story.video}}">
                            {% else %}
                                <div class="destroy_me hide" data-url="{{story.video}}">
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="bottom-link">
                        <span class="bottom-link-title">{{ story.title }} </span>
                        <span class="story-type {{ story|get_story_icon }}"></span>
                        <div class="cf"></div>
                    </div>
                </li>
                {% if story|get_story_type == "story-text" %}
                    <div id="story-{{story.id}}" class="inline-story-text hide">
                        <h1 class="story-title"> {{ story.title|safe }} </h2>
                        <p> {{ story.text|safe }} </p>
                    </div>
                {% endif %}
                {% endfor %}
                {% for connection in connections.all %}
                    <a href="/pages/{{ connection.vanity_url }}">
                        <li class="tile connection {{ connection.type.name }} isotope-item">
                            <div class="container">
                                {% if connection.image %}<img src="{{ connection.image }}">{% endif %}
                                {% if not connection.image %}<img src="{{ connection|get_random_image }}">{% endif %}
                            </div>
                            <div class="bottom-link">
                                <span class="bottom-link-title">{{ connection.name }}</span>
                                <span class="triangle"></span>
                                <div class="cf"></div>
                            </div>
                        </li>
                    </a>
                {% endfor %}
            </ul>
        </section>
        <section class="entryInfo" style="display: none;">
            <input type="hidden" class="entryName" value="{{ page.name }}">
            <input type="hidden" class="entryVanityUrl" value="{{ page.vanity_url }}">
            <input type="hidden" class="entryId" value="{{ page.id }}">
            <input type="hidden" class="entryCategory" value="{{ page.type }}">

            <div class="entryDescription">
                <p>
                    {{ page.description|truncatewords:120|safe }}
                </p>
            </div>
        </section>
    </div>
{% endblock %}