{% extends 'default/base.html' %}
{% load staticfiles %}{% load hocgtags %}
{% block content %}
    <div id="content">
        <div class="message" style="display: none;"></div>
        <div class="timeline">
            <img src="{% static 'img/timeline/timeline.png' %}">

            <div class="tooltip" style="left: 187px; top: 505px; display: none;">Timeline coming soon!</div>
        </div>
        <!-- start of page content -->
        <section class="entryMast">
            <h1 class="entryTitle {{ page.type }}">{{ page.name }}</h1>

            <div class="catBarContainer">
                <ul class="catBar">
                    <li class="category project"><a href="#" data-filter=".project">Projects</a></li>
                    <li class="category person"><a href="#" data-filter=".person">People</a></li>
                    <li class="category organization"><a href="#" data-filter=".organization">Organizations</a></li>
                    <li class="category event"><a href="#" data-filter=".event">Events</a></li>
                    {% if user.is_authenticated %}
                        <li class="editEntry"><a href="/edit/page/{{ page.vanity_url }}">Edit Page</a></li>{% endif %}
                    <div class="cf"></div>
                </ul>
            </div>
        </section>
        <section class="tagLists">
            <div class="" style="display:none;">
                <ul>
                    <li class="all" style=""><input type="checkbox" data-filter="*" checked="checked">All</li>
                    {% for k,v in tag_dict %}
                        <li class="{{ k }}" style="display: inline-block"><input type="checkbox"
                                                                                 data-filter=".{{ v.split|join:"-" }}">{{ v }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section class="mosaicBody">
            <ul class="mosaicContainer cf isotope"
               {# TODO: This inline style shit needs to go #}
                style="opacity: 1; position: relative; overflow: hidden; height: 1979px;">
                <li class="dynamic {{ page.type }}">
                    <p>{{ page.description|truncatewords:120|safe }}</p>
                </li>
                {% for story in all_stories %}
                    <li class="tile story isotope-item nivo-lightbox-item
                        {{ story|get_story_type }} {% random_double_size %}
                        {# TODO: Why include tags in the class? #}
                        {% for tag in story.tags.all %}{{ tag.name }}{% endfor %}"
                        {% if story.text != "" %}
                            href="#story-{{story.id}}"
                        {% elif story.image != "" %}
                            href="{{ story.image|safe }}"
                        {% elif story.video != "" %}
                            href="{{ story.video|safe }}"
                        {% endif %}
                        data-index={{ forloop.counter }}
                        title="{{ story.title|safe }}"
                        data-lightbox-gallery="gallery1">
                    <div class="container {{ story|get_story_type }}">
                        {% if story.text != "" %}
                            <p>{{ story.text|truncatewords:80|safe }}</p>
                        {% elif story.image != "" %}
                            <img src="{{ story.image }}">
                        {% elif story.video != "" %}
                            <div class='lite' style='width:478px; height:359px' id="{{ story.video }}"></div>
                        {% endif %}
                    </div>
                    <div class="bottom-link">
                        <span>{{ story.title|truncatechars:"14" }} </span>
                        <span class="story-type {{ story|get_story_icon }}"></span>
                        <div class="cf"></div>
                    </div>
                </li>
                {% if story.text != "" %}
                    <div id="story-{{story.id}}" class="inline-story-text hide">
                        <h1 class="story-title"> {{ story.title|safe }} </h2>
                        <p> {{ story.text|safe }} </p>
                    </div>
                {% endif %}
                {% comment %}
                {% if s.image %}
                        {# set either "1" or "2" to rnd, "12"|make_list outputs the list [u"1", u"2"] #}
                        {# and random chooses one item randomly out of this list #}
                        {% with rnd="12"|make_list|random %}
                        <li class="tile story story-image {% if rnd == "1" %}double-size{% endif %}
                        {% endwith %}
                         isotope-item"
                        href="{{ s.image|safe }}"
                        data-image="{{ s.image|safe }}"
                        data-title="{{ s.title|safe }}"
                        data-lightbox-gallery="gallery1">
                            <div class="container opener story-image" data-image="{{ s.image|safe }}" data-title="{{ story.title|safe }}">
                                <img src="{{ s.image }}">
                            </div>
                            <div class="bottom-link">
                                <span class="opener story-image" data-image="{{ s.image|safe }}"
                                      data-title="{{ s.title|safe }}">{{ s.title|truncatechars:"14" }}</span>
                                <span class="story-type story-type-icon-image"></span>
                                {% if request.user.is_authenticated %}
                                    <span class="story-type {{ s|user_vote_cast:request.user.id }}"
                                          data-story-></span>
                                {% endif %}
                                <div class="cf"></div>
                            </div>
                        </li>
                    {% endif %}
                    {% if s.video %}
                        <li class="tile story story-video {% for t in s.tags.all %} {{ t.name }}{% endfor %} isotope-item"
                            data-video="{{ s.video|safe }}"
                            data-title="{{ s.title|safe }}">
                            <div class="container opener story-video"
                                 data-title="{{ s.title|safe }}">
                                <div class='lite' style='width:478px; height:359px' id="{{ s.video }}"></div>
                            </div>
                            <div class="bottom-link">
                                <span class="opener story-video" data-video="{{ s.video|safe }}"
                                      data-title="{{ s.title|safe }}">{{ s.title|truncatechars:"14" }}</span>
                                <span class="story-type story-type-icon-video"></span>
                                {% if request.user.is_authenticated %}
                                    <span class="story-type {{ s|user_vote_cast:request.user.id }}"
                                          data-story-></span>
                                {% endif %}
                                <div class="cf"></div>
                            </div>
                        </li>
                    {% endif %}
                    {% if s.text %}
                        <li class="tile story story-text {% for t in s.tags.all %} {{ t.name }}{% endfor %}{% if ts|object_user_is:'pioneer' %} pioneer {% endif %} isotope-item"
                            data-full-text="{{ s.text|safe }}"
                            data-title="{{ s.title|safe }}"
                            >
                            <div class="container opener story-text" data-full-text="{{ s.text|safe }}"
                                 data-title="{{ s.title|safe }}">
                                <p>{{ s.text|truncatewords:80|safe }}</p>
                            </div>
                            <div class="bottom-link">
                                <span class="opener story-text" data-full-text="{{ s.text|safe }}"
                                      data-title="{{ s.title|safe }}">{{ s.title|truncatechars:"14" }}</span>
                                <span class="story-type story-type-icon-text"></span>
                                {% if request.user.is_authenticated %}
                                    <span class="story-type {{ s|user_vote_cast:request.user.id }}"
                                          data-story-></span>
                                {% endif %}
                                <div class="cf"></div>
                            </div>
                        </li>
                    {% endif %}
                {% endcomment %}
                {% endfor %}
                {% for connection in connections.all %}
                    <li class="tile connection {{ connection.type.name }}
                            {% for tag in connection.tags.all %}{{ tag.name.split|join:"-" }} {% endfor %}isotope-item">
                        <div class="container">
                            {% if connection.image %}<img src="{{ connection.image }}">{% endif %}
                            {% if not connection.image %}<img src="{{ connection|get_random_image }}">{% endif %}
                        </div>
                        <div class="bottom-link">
                            {% if connection|object_user_is:'pioneer' %}
                                <a href="/about/pioneers/" class="connection-user-pioneer"></a>
                            {% endif %}
                            <span>{{ connection.name|truncatechars:"19" }}</span>
                            <a class="link-button" href="/pages/{{ connection.vanity_url }}"><span
                                    class="triangle"></span></a>

                            <div class="cf"></div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section class="entryInfo" style="display: none;">
            <input type="hidden" class="entryName" value="{{ page.name }}">
            <input type="hidden" class="entryId" value="{{ page.id }}">
            <input type="hidden" class="entryCategory" value="{{ page.type }}">

            <div class="entryDescription">
                <p>
                    {{ page.description|truncatewords:120|safe }}
                </p>
            </div>
        </section>
    </div>
{% endblock %}