
  <div id="timeline-container">
    <svg id="timeline"></svg>
    <div id="popup-container">
      <div class="popup regular-point">
        <h3>Title</h3>
        <p class="description">Description</p>
        <p class="date">Date</p>
        <a href="/">Open page</a>
      </div>
      <div class="popup multi-point">
        <h3>Multiple Available</h3>
        <p class="description">There are multiple entries on this date. You can use the brush below to see them all.</p>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var Hist = Hist || {};
    $.ajax({
      url: "/timeline",
      type: "GET",
      success: function(data) {
        Hist.rawPages = data;
        if (Hist.TL) { Hist.TL.init(); }
      },
      error: function() {
        console.log("Error receiving timeline data from server.");
      }
    })
    // Hist.rawPages = {{ pages_json|safe }};
  </script>