{% load staticfiles %}
{% block extra_head %}
  <link type="text/css" rel="stylesheet" media="screen" href="{% static 'css/animate.min.css' %}">
{% endblock %}
<div id="timeline-loader">
  <img src="/static/img/ajax-loader.gif" alt="Loading Animation" />
</div>
<div id="timeline-container">
  <svg id="timeline"></svg>
  <div id="popup-container">
    <div class="popup regular-point">
      <h3>Title</h3>
      <p class="date">Date</p>
      <hr>
      <p class="description">Description</p>
    </div>
    <div class="popup multi-point">
      <h3>Multiple Available</h3>
      <p class="description">There are multiple entries on this date. You can use the context tool below to see them all.</p>
    </div>
  </div>
</div>
