{% extends 'default/base.html' %}
{% block content %}
    <div id="content">
        <section class="timeline">
            <h1><a href="/accounts/password/change/">Change Password</a></h1>
            <br>
            {% for page in user_pages %}
                <h2 class="entry_title"><a href="/edit/page/{{ page.vanity_url }}/">{{ page.name }}</a>&nbsp; &nbsp;
                    {% if page.published %} published {% else %} not published {% endif %}</h2>
            {% endfor %}
        </section>
    </div>
{% endblock %}