<!DOCTYPE html>
{% load staticfiles %}{% load hocgtags %}
{% spaceless %}
    <!--[if IE 8]>
<html class="ie8"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="https://www.facebook.com/2008/fbml"
      dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
      xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
      lang="{% firstof LANGUAGE_CODE 'en' %}">
<![endif]-->
    <!--[if gt IE 8]><!-->
    <html class="ie8"
          xmlns="http://www.w3.org/1999/xhtml"
          xmlns:fb="https://www.facebook.com/2008/fbml"
          dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
          xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
          lang="{% firstof LANGUAGE_CODE 'en' %}">
    <!--<![endif]-->
{% endspaceless %}
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <title>People Behind the Pixels</title>

    {# TODO: Need to move away from loading every single fucking thing in the base document. Fuck. #}
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'css/baseline.reset.css' %}">
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'css/jquery-ui.css' %}">
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'css/styles.css' %}">
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'css/styles-about.css' %}">
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'css/styles-content.css' %}">
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'css/styles-youtube.css' %}">

    <script type="text/javascript" src="{% static 'js/libs/jquery-1.8.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery.lazyload.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/lite-youtube-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libs/jquery.isotope.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/proto-extensions.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/entry.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/content.js' %}"></script>
    {% block extra_head %}
    {% endblock %}
</head>
<body class="wrapper">
    <div id="page">
        <header id="masthead">
            {% if not rendering_home %}
            <div class="branding unitx2">
                <a href="/"><img src="{% static 'img/logoSm.png' %}" alt="People Behind the Pixels"></a>
            </div>
            {% endif %}
            <div class="topRight internal">
                <a href="mailto:feedback@visualfx.com?Subject=Feedback%20for%20History%20of%20CG">Feedback?</a>
                <a href="/about">About</a>
                {% if not request.user.is_authenticated %}
                <a href="/accounts/login">Login</a>
                {% endif %}
                {% if request.user.is_authenticated %}
                <a href="/accounts/logout">Logout</a>
                <a href="/add/page">Add an Entry</a>
                <a href="/user/{{ request.user.id }}/">Your Pages</a>
                {% endif %}
                {% comment %}
            <!-- Note: Below is for the gamification stuff which is just sitting around...
                 I would like to rip all of that out, but terrence would like it kept around.
                 If this ever ends up being a feature, I'd suggest starting over. -->
                 {% if show_badge1 %}
                 <span class="user-badge user-badge-one"></span>
                 {% endif %}
                 {% if show_badge2 %}
                 <span class="user-badge user-badge-two"></span>
                 {% endif %}
                 {% if show_badge3 %}
                 <span class="user-badge user-badge-three"></span>
                 {% endif %}
                 {% if show_badge4 %}
                 <span class="user-badge user-badge-four"></span>
                 {% endif %}
                 {% if show_badge5 %}
                 <span class="user-badge user-badge-five"></span>
                 {% endif %}
                 {% endcomment %}
             </div>
             {% if not rendering_home %}
             <div class="topSearch">
                <form id="searchForm" class="search unitx2 cf">
                    <input type="text" class="searchBox ui-autocomplete-input" placeholder="Search" autocomplete="off"
                    role="textbox" aria-autocomplete="list" aria-haspopup="true" id="searchBox">
                    <button class="searchBtn" title="Search">Search</button>
                </form>
            </div>
            {% endif %}
            <div class="cf"></div>
            {% block body_header %} {% endblock %}
        </header>
        <div class="notification-container">
            <div class="notification error">
                <h3>Error</h3>
                <span class="close">x</span>
                <p class="content"></p>
            </div>
            <div class="notification success">
                <h3>Success</h3>
                <span class="close">x</span>
                <p class="content"></p>
            </div>
        </div>
        <div id="content">
            {% block content %} {% endblock %}
        </div>
    </div>  {# End of Page #}
    <div class="cf"></div>
    <footer class="site_footer">
        <hr>
        <div class="footer_links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="mailto:feedback@visualfx.com?Subject=Feedback%20for%20History%20of%20CG">Feedback</a>
        </div>
    </footer>
</body>
</html>