{% extends 'default/base.html' %}
{% load staticfiles %}
{% load webdesign %}
{% load hocgtags %}
{% block extra_head %}
    <link type="text/css" rel="stylesheet" media="screen" href="{% static 'css/styles-home.css' %}">
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
{% block body_header %}
    <div id="homeBranding">
        <img src="{% static 'img/logo.png' %}" alt="People Behind the Pixels">
    </div>
    <div id="homeSearch">
        <form id="searchForm">
            <fieldset class="search">
                <input type="text" class="searchBox ui-autocomplete-input" placeholder="Search" autocomplete="on"
                role="textbox" aria-autocomplete="list" aria-haspopup="true" id="searchBox">
                <button class="searchBtn" title="Search">Search</button>
            </fieldset>
        </form>
    </div>
{% endblock %}
{% block content %}
<section>
    <div class="timeline">
        <img src="{% static 'img/timeline/timeline.png' %}">

        <div class="tooltip" style="left: 840px; top: 0px;">Timeline coming soon!</div>
        <span><h1>RECENTLY UPDATED ENTRIES:</h1></span>
    </div>
    <div id="updated-entries-container" class="isotope cf">
        {% for entry in updated_entries %}
        <a class="tile connection {{ entry.type.name }} isotope-item" href="/pages/{{ entry.vanity_url }}">
            <div class="container">
                {% if entry.image %}<img src="{{ entry.image }}">{% endif %}
                {% if not entry.image %}<img src="{{ entry|get_random_image }}">{% endif %}
            </div>
            <div class="bottom-link">
                <span>{{ entry.name }}</span>
                <span class="triangle"></span>
                <div class="cf"></div>
            </div>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}