body {
    margin: 0 auto;
    max-width: 1200px;
}

#site-footer {
    margin-bottom: $gridGutterWidth;

    nav {
        @extend .bg-graylight;
        padding: $gridGutterWidth / 2 $gridGutterWidth;
    }
    .spacer {
        color: $grayLight;
    }
}

a, a:hover {
    text-decoration: none;
}

#page-content-inner {
    @include min-height(500px);
    background-color: $white;
    padding-top: 25px;
}

.thumb-list {
    border: 1px solid $grayLight;
    padding: $gridGutterWidth;
    padding-bottom: 0;
    margin-bottom: $gridGutterWidth;

    h2 {
        background-color: transparent;
        background-image: none;
        color: $textColor;
        display: block;
        position: relative;
    }

    ul, ol {
        @extend .unstyled;
    }

    &.no-pagination .pager {
        display: none;
    }
}

.thumb-list-item {
    color: $textColor;
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    img {
        @include fluid-grid-width(2);
        display: block;
        float: left;
        margin-right: $gridGutterWidth / 2;
    }
    span { display: block; }
}

.leaderboard-container {
    .artist-band-name { font-size: 1em; }
    .artist-location{ font-size: .85em; line-height: .9em; }
}

.activity-feed {
    @extend .unstyled;
}

.events-upcoming {
    li {
        display: inline-block;
        height: 250px;
        line-height: 1.5em;
    }
    img {
        display: block;
        margin-bottom: 10px;
    }
}

@media (max-width: 979px) {
    h1 {
        font-size: 2em;
    }
    #page-header {

        label {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    #page-header {
        #search-filter-wrapper {
            display: none;
        }
    }
    .align-right {
        text-align: left;
    }
}

@media (max-width: 320px) {
    #page-header {
        h1 {
            height: 1.5em;
            max-width: 230px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    #nav-main {
        background: $grayDark;
        display: none;
        padding: $halfGridGutterWidth 0px $halfGridGutterWidth 0px;
        position: absolute;
        right: 10px;
        top: 45px;
        width: auto;

        a {
            color: $white;
            display: block;
            padding: $quarterGridGutterWidth $gridGutterWidth;

            &.active {
                color: $white;
                text-decoration: underline;
            }
        }

        .spacer {
            display: none;
        }
    }

    a#nav-main-trigger {
        background-color: $gray;
        display: block;
        padding: 5px 10px;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.row-fluid [class*="span"] {
    min-height: $baseLineHeight;
}

.tweet-widget {
    position: relative;

    .tweet-wrapper {
        padding: $gridGutterWidth;
    }
    .tweet-widget-username {
        font-weight: bold;
    }
}

td {
    position: relative;
}