// BREADCRUMBS
// -----------
@include all-form-sprites;
$form-map: sprite-map("form/*.png");

$crumb-wizard-height: form-sprite-height(wizard-on);
$crumb-wizard-width-off: form-sprite-width(wizard-off);
$crumb-wizard-width-on: form-sprite-width(wizard-on);
$crumb-wizard-large-width-on: form-sprite-width(wizard-large-on);

.breadcrumb {
    margin: 0 0 $baseLineHeight;
    list-style: none;
    li {
        color: $disabledTextColor;
        display: inline-block;
        @include ie7-inline-block();
        text-align: center;
        vertical-align: top;
    }
    .divider {
        padding: 0 5px;
    }
    a, a:hover {
        color: $disabledTextColor;
        display: inline-block;
        vertical-align: middle;
    }
    .active, .active a {
        color: $gray;
        font-weight: bold;
    }
}


.wizard-steps {
    background-color: $blue;
    color: $white;

    a {
        @extend .form-wizard-off;
        width: $crumb-wizard-width-off;
    }

    a, a:hover {
        color: $white;
        display: inline-block;
        float: left;
        height: $crumb-wizard-height;
        line-height: $crumb-wizard-height;
        text-indent: 25px;
    }

    a.first {
        background-position: sprite-position($form-map, wizard-off, -20px);
        width: $crumb-wizard-width-off - 20px;

        &.active {
            background-position: sprite-position($form-map, wizard-on, -20px);
            width: $crumb-wizard-width-on - 20px;
        }
    }

    .active {
        @extend .form-wizard-on;
        margin-right: ($crumb-wizard-width-on - $crumb-wizard-width-off) * -1;
        color: $white;
        font-weight: normal;
        position: relative;
        width: $crumb-wizard-width-on;
    }

    &.large a {
        width: $crumb-wizard-large-width-on;

        &.active {
            @extend .form-wizard-large-on;
            width: $crumb-wizard-large-width-on;
        }
    }
}