$item-height: 270px;
$tall-item-height: $item-height * 2 + $gridGutterWidth;
.content-soup {
    @extend .row-fluid;
    margin-bottom: $fluidGridGutterWidth;

    .video {
        .custom-icon-play-small {
            left: 45%;
            position: absolute;
            top: 30%;
        }
        &:hover {
            .custom-icon-play-small {
                @extend .custom-icon-play-small-over;
            }
        }
    }

    [class^="custom-icon-soup"],
    [class*=" custom-icon-soup"] {
        position: absolute;
        left: 5px;
        margin-top: -15px;
        top: 50%;
    }

    a {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
    .alpha { margin-left: 0; }
    .tiny { @extend .grid3Width; }
    .small { @extend .grid4Width; }
    .medium { @extend .grid6Width; }
    .large { @extend .grid8Width; }

    .tiny, .small, .medium, .large {
        @include min-height(270px);
        @include max-height(270px);
    }

    &.grid {
        .tiny, .small, .medium, .large {
            height: auto;
            max-height: 1000px;
        }
    }

    &.with-titles {
        .title {
            display: block;
        }
    }
    .block_large {
        @extend .grid12Width;
    }
    .block_medium {
        @extend .grid6Width;
        .small { @extend .grid6Width; }
        .audio.medium, .photo.medium, .instagram-photo.medium { @extend .grid12Width; }
    }
    .audio {
        background-color: $grayLightest;

        .custom-icon-play {
            float: left;
            margin: $gridGutterWidth 0px 0px $gridGutterWidth;
        }

        &:hover {
            .custom-icon-play {
                @extend .custom-icon-play-over;
            }
        }

        .title {
            min-height: 34px;
        }
    }
    .soup-audio-artist {
        background-color: $grayLighter;
        bottom: 0;
        color: $textColor;
        display: block;
        height: 110px;
        left: 0;
        position: absolute;
        width: 100%;

        img {
            float: left;
            margin: $gridGutterWidth;
            min-height: 50px;
            min-width: 50px;
            max-width: 90px;
            width: 25%;
        }
    }
}
.soup-item, .soup-block {
    display: inline-block;
    position: relative;
    float: left;
    margin-left: $fluidGridGutterWidth;
    overflow: hidden;
}
.soup-item {
    margin-bottom: $gridGutterWidth;
}
@media (min-width: 1200px) {
    .soup-item, .soup-block {
        margin-left: 1.700000000000%;
    }
}

.soup-item {
    .title {
        @include title-block();
        bottom: 0;
        display: none;
        left: 0;
        padding: 0;
        position: absolute;
        width: 100%;
    }
}

.title-inner {
    display: block;
    line-height: 1.5em;
    padding: 5px 30px 5px 40px;

    .icon-chevron-right {
        position: absolute;
        margin-top: -7px;
        right: 10px;
        top: 50%;
    }
}

.content-filter-header {
    line-height: 30px;
    margin: 0;
    padding-left: 10px;
}

.soup-audio-title {
    color: $textColor;
    display: block;
    font-weight: normal;
    margin: 0;
    margin-top: $gridGutterWidth;
    padding: $gridGutterWidth;
    vertical-align: middle;

    .custom-icon-play {
        float: left;
        margin-right: $gridGutterWidth;
    }
}

.tweet-bg {
    min-height: 194px;
    height: auto;
    width: 100%;
}

.soup-item.twitter-tweet {
    em {
        display: none;
    }
    p {
        left: 0;
        position: absolute;
        top: 70px;
        word-break: break-word;

        span {
            display: block;
            padding: 10px 10px 0px;
        }
    }
    .tweet-wrapper {
        min-height: 230px;
        height: 230px;
    }
}

.soup-audio-bandname, .soup-audio-trackname {
    display: block;
}
.soup-audio-trackname {
    font-size: 1em;
    line-height: 1.2em;
}
.soup-audio-bandname {
    font-size: .85em;
    line-height: 1em;
}

.tweet-widget {
    border: 1px solid $grayLight;
    line-height: 1.2em;
    width: 99%;
}

.tweet-author {
    font-size: 14px;
    height: 40px;
    left: 0px;
    padding-top: 5px;
    position: absolute;
    top: 5px;
    width: 100%;

    img {
        float: left;
        margin: 0px 10px 10px;
    }

    a, span {
        color: $textColor;
        display: block;
    }
}

.soup-item.twitter-tweet {

    .tweet-pic {
        background-position: center center;
        min-height: 270px;

        em {
            @extend .black-trans-back;
            display: block;
            left: 0;
            min-height: 270px;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .tweet-bg {
            visibility: hidden;
        }

        p {
            color: $white;
            a, a:hover {
                color: $white;
            }
        }
        .tweet-author {
            color: $white;
        }
        a {
            color: $blue;
            &:hover {
                color: $blue;
            }
        }
        .tweet-date {
            color: $white;
        }
        .title {
            width: 99%;
        }
    }
}

.tweet-actions {
    bottom: 35px;
    height: 25px;
    left: 0;
    line-height: 25px;
    position: absolute;
    text-align: center;
    width: 100%;

    a {
        line-height: 25px;
        padding: 0px 10px;
    }
}

.block-footer-link {
    @extend .black-trans-back;
    bottom: 0;
    color: white;
    display: block;
    height: 41px;
    line-height: 41px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-indent: 1em;
    width: 100%;

    &:hover {
        color: $white;
    }

    [class*=icon] {
        float: right;
        margin-right: 1em;
        margin-top: -7px;
        position: relative;
        top: 50%;
    }
}

.soup-filter-text {
    border-radius: 5px;
    height: 30px;
    text-align: center;
    width: 30px;
}

.content-filter-wrapper {
    background-color: $grayDark;
    color: $white;
    margin-bottom: $gridGutterWidth;
    padding: $gridGutterWidth / 2;

    a {
        color: $white;
        display: inline-block;
        line-height: 32px;
        margin: 0px 5px;

        &:hover {
            color: $white;
        }

        &.active {
            background-color: $blueActive;
        }
    }
    [class^="custom-icon-soup"],
    [class*=" custom-icon-soup"] {
        border-radius: 5px;
    }
    .dropdown-menu{
        @extend .overflow-y;
        max-height: 300px;

        a {
            color: $textColor;

            &:hover {
                color: $textColor;
            }
        }
    }
}

@media (max-width: 767px) {
    .content-soup {
        .soup-item {
            margin: 0 0 $gridGutterWidth 0;
            width: 100%;

            &.twitter-tweet {
                font-size: 12px;
            }
        }
    }
    .content-filter-header {
        display: none;
    }
    .content-filter-menus {
        width: 100%;
    }
}