@import "custom-icon/*.png";
@include all-custom-icon-sprites;
$icon-map: sprite-map("custom-icon/*.png");

[class^="custom-icon-"],
[class*=" custom-icon-"],
[class^="icon-"],
[class*=" icon-"] {
    text-indent: -999em;
}

[class^="custom-icon-nav"],
[class*=" custom-icon-nav"] {
    display: inline-block;
    height: 26px;
    vertical-align: middle;
    width: 26px;
}

[class^="custom-icon-soup"],
[class*=" custom-icon-soup"] {
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    width: 30px;
}

[class^="custom-icon-"],
[class*=" custom-icon-"] {
    display: inline-block;
    @include ie7-restore-right-whitespace();
    vertical-align: text-top;
    background-repeat: no-repeat;
    vertical-align: bottom;
}


$icon-sonic-height: custom-icon-sprite-height(sonic);
$icon-sonic-width: custom-icon-sprite-width(sonic);
.custom-icon-sonic {
    height: $icon-sonic-height;
    width: $icon-sonic-width;
}


$icon-rdio-height: custom-icon-sprite-height(rdio);
$icon-rdio-width: custom-icon-sprite-width(rdio);
.custom-icon-rdio {
    height: $icon-rdio-height;
    width: $icon-rdio-width;
}


$icon-spotify-height: custom-icon-sprite-height(spotify);
$icon-spotify-width: custom-icon-sprite-width(spotify);
.custom-icon-spotify {
    height: $icon-spotify-height;
    width: $icon-spotify-width;
}


$icon-soundcloud-height: custom-icon-sprite-height(soundcloud);
$icon-soundcloud-width: custom-icon-sprite-width(soundcloud);
.custom-icon-soundcloud {
    height: $icon-soundcloud-height;
    width: $icon-soundcloud-width;
}


$icon-bandcamp-height: custom-icon-sprite-height(bandcamp);
$icon-bandcamp-width: custom-icon-sprite-width(bandcamp);
.custom-icon-bandcamp {
    height: $icon-bandcamp-height;
    width: $icon-bandcamp-width;
}


$icon-youtube-height: custom-icon-sprite-height(youtube);
$icon-youtube-width: custom-icon-sprite-width(youtube);
.custom-icon-youtube {
    height: $icon-youtube-height;
    width: $icon-youtube-width;
}


$icon-vimeo-height: custom-icon-sprite-height(vimeo);
$icon-vimeo-width: custom-icon-sprite-width(vimeo);
.custom-icon-vimeo {
    height: $icon-vimeo-height;
    width: $icon-vimeo-width;
}


$icon-twitter-height: custom-icon-sprite-height(twitter);
$icon-twitter-width: custom-icon-sprite-width(twitter);
.custom-icon-twitter {
    height: $icon-twitter-height;
    width: $icon-twitter-width;
}


$icon-twitter-bird-height: custom-icon-sprite-height(twitter-bird);
$icon-twitter-bird-width: custom-icon-sprite-width(twitter-bird);
.custom-icon-twitter-bird {
    height: $icon-twitter-bird-height;
    vertical-align: middle;
    width: $icon-twitter-bird-width;
}


$icon-instagram-height: custom-icon-sprite-height(instagram);
$icon-instagram-width: custom-icon-sprite-width(instagram);
.custom-icon-instagram {
    height: $icon-instagram-height;
    width: $icon-instagram-width;
}


$icon-facebook-height: custom-icon-sprite-height(facebook);
$icon-facebook-width: custom-icon-sprite-width(facebook);
.custom-icon-facebook {
    height: $icon-facebook-height;
    width: $icon-facebook-width;
}


$icon-play-height: custom-icon-sprite-height(play);
$icon-play-width: custom-icon-sprite-width(play);
.custom-icon-play {
    height: $icon-play-height;
    width: $icon-play-width;
}


$icon-play-over-height: custom-icon-sprite-height(play-over);
$icon-play-over-width: custom-icon-sprite-width(play-over);
.custom-icon-play-over {
    height: $icon-play-over-height;
    width: $icon-play-over-width;
}


$icon-play-small-height: custom-icon-sprite-height(play-small);
$icon-play-small-width: custom-icon-sprite-width(play-small);
.custom-icon-play-small {
    height: $icon-play-small-height;
    width: $icon-play-small-width;
}


$icon-play-small-over-height: custom-icon-sprite-height(play-small-over);
$icon-play-small-over-width: custom-icon-sprite-width(play-small-over);
.custom-icon-play-small-over {
    height: $icon-play-small-over-height;
    width: $icon-play-small-over-width;
}


$icon-reply-height: custom-icon-sprite-height(reply);
$icon-reply-width: custom-icon-sprite-width(reply);
.custom-icon-reply {
    height: $icon-reply-height;
    line-height: $icon-reply-height;
    vertical-align: text-top;
    width: $icon-reply-width;
}


$icon-powered-height: custom-icon-sprite-height(powered);
$icon-powered-width: custom-icon-sprite-width(powered);
.custom-icon-powered {
    height: $icon-powered-height;
    line-height: $icon-powered-height;
    position: absolute;
    right: 20px;
    top: 10px;
    vertical-align: middle;
    width: $icon-powered-width;

    &:hover {
        @extend .custom-icon-powered-over;
    }
}


$icon-large-chevy-height: custom-icon-sprite-height(large-chevy);
$icon-large-chevy-width: custom-icon-sprite-width(large-chevy);
.custom-icon-large-chevy {
    height: $icon-large-chevy-height;
    line-height: $icon-large-chevy-height;
    margin-top: ($icon-large-chevy-height / 2) * -1;
    position: absolute;
    right: 2.25%;
    top: 50%;
    vertical-align: middle;
    width: $icon-large-chevy-width;
}

.custom-icon-spacer {
    display: inline-block;
    margin: 0px 10px;
}