{% extends 'default/base.html' %}
{% load staticfiles %}
{% block body_header %}
    <img src="{% static 'img/logo.png' %}" alt="People Behind the Pixels">
{% endblock %}
{% block content %}
    <div id="homeSearch">
        <form id="searchForm">
            <fieldset class="search">
                <input type="text" class="searchBox ui-autocomplete-input" placeholder="Search" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                <button class="searchBtn" title="Search">Search</button>
            </fieldset>
        </form>
    </div>
    <div class="timeline">
        <img src="{% static 'img/timeline/timeline.png' %}">
        <div class="tooltip" style="left: 840px; top: 0px;">Timeline coming soon!</div>
    </div>
{% endblock %}